@media screen and (min-width: 577px) and (max-width: 992px){
   .banner-container{
    width: 100%;
    height: 1403px;
    margin: 0 auto;
    /* background-color:#1B1B1B; */
    display: flex;

    flex-direction: column;
    justify-content: center;
    
    }      
    .name{
      width: 95%;
      height: 100px;
      /* border: 2px solid wheat; */
      margin: 0 auto;
      justify-content:space-between;
      margin: 0 auto;  
      /* justify-content: center; */
      align-items: center; 
      margin-bottom: 350px; 
               
    }  
    .burger{
      display: none;
    }
    .service{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 46px;
      width: 500px;
      border-radius: 39px;
      border: 1px solid rgb(47, 47, 47);
   
      }  
    .fitness{
      margin-right: 80px;
      margin-left: 10px;
        
      }  
     .banner{
      flex-direction: column;
      margin: 0 auto;  
      justify-content: center;
      align-items: center;  
      margin-bottom: 250px;                                                     */
     }
     .banner-text{
      text-align: left;
      margin-right: 200px;
     }
     
    .banner-image{
      margin-bottom:100px; 
      margin-right: 20px; 

    }
  .change-your-habit{
    height: 100%;
    background-color: #000000;

  }
  .gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.extra-mile{
  width: 610px;
  height: 375px;
  border-radius: 18px;
  gap: 10px;
}
.extra-mile-image{
  width: 50%;
  height: 70%;
  margin-bottom: 20px;
  background-size:
  /* background-repeat: no-repeat; */
}

.bmi-calculator{
  height: 75rem;
}
.calc-head{
  font-size: 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  padding-right: 1.3rem;
  width: 90%;
  
  }
 .calc-details{
  margin-right: 2px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  /* margin: 0 auto; */
  margin-right: 18.75rem;
    }
 .bmi-calc{
  flex-direction: column;
  width: 100%;
  height: 57rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
 }
 .calc-chart{
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  padding-left: 20px;
  gap: 5px;
  margin-bottom: 12rem;
  }
  .bmi{
    text-align: left;
    padding: 5px;
    width: 85%;
    margin-bottom:;
    margin-right: 25.8rem;
  }
  table{
    margin-bottom: -17.625rem;
    margin-left: -2em;
    /* margin-right: -10rem; */
  }
  .your-bmi{
    width: 90%;
    margin-bottom: 5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin: 0 auto;
   }
   .calculate-bmi{
    margin-left: -0.5rem;
    line-height: 1rem;
    margin-top: 8rem;
   }
   .calculate{
    margin-left: -22.5rem;
    line-height: 1rem;
   }
   input{
    width: 30rem;
    height: 3rem;
    /* width: 95%; */
  }
  #sex{
    width: 31rem;
    height: 3.25rem;
    /* width: 90%; */
  }
  .input-field input{
    width: 30rem;
    height: 3rem;
    /* width: 95%; */
  }
  .activity-factor{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    margin-right: 12rem;
    margin-left: 10rem;
  }
  #factor{
    width: 56rem;
    height: 3.5rem;
    /* width: 95%; */
  }
  
  .input-your-data{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    margin-right: 12rem;
    margin-left: 10rem;
  }
  .input-field{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    margin-right: 12rem;
    margin-left: 10rem;
  }
  .calculate-btn{
    margin-right: 15rem;
    margin-bottom: 10rem;
  }
  .calculate-btn{
    margin-right: 9rem;
  }
  .meet-our-team{
    height: 56.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .meet-our-team h2{
    /* margin-top: 4rem; */
  }
  .p-graph{
    margin-top: 0.5rem;
  }
  .our-team{
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .trainer-card-1, 
  .trainer-card-2, 
  .trainer-card-3, 
  .trainer-card-4, 
  .trainer-card-5, 
  .trainer-card-6{
    width: 15.4375rem;
    height: 16rem;
  }
  .trainer-name, 
  .trainer-name-one, 
  .trainer-name-two{
    font-size: 1rem;
  }

  .row-1{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   margin: 0 auto;

  }
  .row-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   margin: 0 auto;
  }











}


